/* styles go here */
.displayInput {
  margin-bottom: 20px;
}

.displayBlock {
  display: block;
  margin-top: 10px;
}

.firstBlock {
  margin-top: 0;
}

.oldAreYou {
  width: 65px;
}

.margin8pxInInteresting {
  margin: 12px 0 0;
}

.textarea {
  margin: 0 ;
  padding: 0;
  display: block;
}

.btn-submit {
  margin: 20px 0;
}
